.gallary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1.6rem;
    &__item {
        overflow: hidden;
    }
    &__img {
        width: 100%;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
