.margin-right-sm {
    margin-right: 1.6rem !important;
}
.margin-bottom-sm {
    margin-bottom: 1.6rem !important;
}
.text-center {
    text-align: center !important;
}
.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}
