.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}
.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}
.grid--center-v {
    align-items: center;
}
.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
    grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
    grid-template-columns: repeat(4, 1fr);
}
